<a href="https://colab.research.google.com/github/normur/ATA_honeypot/blob/master/ATA_Honeypot_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os
import fileinput
import pandas_profiling
import collections
%matplotlib inline

In [3]:
from google.colab import files
uploaded = files.upload()

Saving nora-results.txt to nora-results.txt
Saving output_4_14.csv to output_4_14.csv

In [0]:
parsed_data = pd.read_csv("output_4_14.csv", sep=",")

In [5]:
parsed_data.head()

   Unnamed: 0  idx  CWR  ECE  ...  SYN  FIN        date_time             SRC
0           0    0    0    0  ...    0    0  Apr 07 22:27:58  73.231.179.146
1           1    1    0    0  ...    0    0  Apr 07 22:27:59     51.68.32.21
2           2    2    0    0  ...    0    0  Apr 07 22:27:59     51.68.32.21
3           3    3    0    0  ...    0    0  Apr 07 22:27:59  73.231.179.146
4           4    4    0    0  ...    0    0  Apr 07 22:27:59  73.231.179.146

[5 rows x 12 columns]

In [6]:
parsed_data.describe()

         Unnamed: 0           idx        CWR  ...        RST        SYN        FIN
count  1.524843e+06  1.524843e+06  1524843.0  ...  1524843.0  1524843.0  1524843.0
mean   7.624210e+05  7.624210e+05        0.0  ...        0.0        0.0        0.0
std    4.401844e+05  4.401844e+05        0.0  ...        0.0        0.0        0.0
min    0.000000e+00  0.000000e+00        0.0  ...        0.0        0.0        0.0
25%    3.812105e+05  3.812105e+05        0.0  ...        0.0        0.0        0.0
50%    7.624210e+05  7.624210e+05        0.0  ...        0.0        0.0        0.0
75%    1.143632e+06  1.143632e+06        0.0  ...        0.0        0.0        0.0
max    1.524842e+06  1.524842e+06        0.0  ...        0.0        0.0        0.0

[8 rows x 10 columns]

In [14]:
# Check for number of unique IPs addresses
df_2 = parsed_data[['SRC', 'date_time']].copy()
df_2.head()

              SRC        date_time
0  73.231.179.146  Apr 07 22:27:58
1     51.68.32.21  Apr 07 22:27:59
2     51.68.32.21  Apr 07 22:27:59
3  73.231.179.146  Apr 07 22:27:59
4  73.231.179.146  Apr 07 22:27:59

In [21]:
print("There are", len(set(df_2['SRC'])), "unique ip addresses collected in the honeypot")

There are 31138 unique ip addresses collected in the honeypot